<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_tours_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_tours_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPopularTours"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".DetailToursActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
    </application>

</manifest>